*
{
	margin:0;
	padding:0;
}
#menu ul
{
   list-style:none;
}
#menu ul li
{
	background-color: black;
	border: 2px solid green;
	width: 375.5px;
	height:40px; 
	text-align:center;
	line-height:40px;
	float:left;
	position: relative;
}
#menu ul li a
{
	text-decoration:none;
	color: white;
	display:block;
}
#menu ul li a:hover
{
	background-color: green;
}
#menu ul ul
{
	position: absolute;
	display: none;
}
#menu ul li:hover >ul
{
	display: block;
}
